* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  max-width: 100%;
}

header {
  padding: 3px 0 2px 0;
  display: flex;
  justify-content: center;
}

header #header-logo {
  width: 40%;
  display: flex;
  margin: 9px auto 7px auto;
}

header #header-logo img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

header #header-logo-menu {
  width: 40%;
  margin: 9px auto 7px auto;
}

#location {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(234, 234, 234);
  box-shadow: 0px 11px 6px -9px rgba(0, 0, 0, 0.27) inset;
}

#location i {
  padding-right: 15px;
}

#location p {
  font-weight: 400;
  font-size: small;
}

button {
  width: 50%;
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  font-size: smaller;
  border-radius: 30px;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 13px 0 15px 0;
  margin: 5px 0px 35px 0px;
}

button:hover {
  background: linear-gradient(#99E2D0, #FF79DA);
  box-shadow: 0px 9px 6px 0px rgba(0, 0, 0, 0.2);
}

#main-header {
  background-color: rgb(246, 246, 246);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

#main-header h2 {
  margin-top: 0px;
  padding: 35px 50px 0px 50px;
  font-weight: 700;
}

#main-header p {
  margin-top: 0px;
  padding: 0px 20px 0 20px;
  font-weight: 100;
}

#fonctionnement {
  margin: 40px 15px 40px 25px;
}

#fonctionnement .steps {
  display: flex;
  align-items: center;
  background-color: rgb(246, 246, 246);
  margin: 0 0 22px 0;
  border-radius: 15px;
  padding: 10px 0 10px 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#fonctionnement .steps:hover {
  background-color: rgb(234, 234, 234);
}

#fonctionnement .steps:hover i {
  color: #9356DC;
}

#fonctionnement .steps .number {
  border-radius: 50px;
  font-size: smaller;
  padding: 4px 7px 3px 7px;
  color: white;
  background-color: #9356DC;
  position: relative;
  right: 10px;
  font-weight: 400;
}

#fonctionnement .steps i {
  margin: 15px 15px 15px 10px;
  color: grey;
}

#fonctionnement .steps p {
  font-weight: bold;
}

#restaurants {
  padding: 40px 2px 40px 2px;
  background-color: rgb(246, 246, 246);
}

#restaurants h2 {
  padding-left: 13px;
}

#restaurants a {
  text-decoration: none;
  color: black;
  margin: 0;
  display: flex;
  justify-content: center;
}

#restaurants .resto-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 100%;
  height: 240px;
  border-radius: 25px;
  background-color: white;
  margin: 2%;
}

#restaurants .resto-card .card-img-div {
  width: 100%;
  height: 70%;
}

#restaurants .resto-card .card-img-div .card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 25px 25px 0px 0px;
}

#restaurants .resto-card .textcontainer {
  width: 100%;
  height: 40%;
  line-height: 40%;
  padding: 5px 0 0 15px;
}

#restaurants .resto-card .textcontainer i {
  position: relative;
  left: 87%;
  bottom: 43%;
}

footer {
  background-color: rgb(53, 53, 53);
  color: white;
  padding: 0 0 30px 20px;
}

footer #logosmall {
  width: 125px;
  margin: 25px 0 0 0;
}

footer .footerdiv {
  display: flex;
  align-items: baseline;
}

footer .footerdiv i {
  padding: 0 10px 0 0;
}

footer p {
  margin: 10px 0 0 0px;
  font-size: medium;
}

footer a {
  text-decoration: none;
  color: white;
}

#menu-main {
  background-color: rgb(246, 246, 246);
}

.menu-img {
  height: 300px;
}

.menu-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.menu-header {
  display: flex;
}

.menu-header i {
  color: black;
  position: absolute;
  left: 20px;
  top: 18px;
}

.menu {
  background-color: rgb(246, 246, 246);
  border-radius: 25px 25px 0 0;
  padding: 0 12px 10px 12px;
  margin: 0 0 0 0;
  position: relative;
  bottom: 30px;
}

.menu button {
  width: 50%;
  height: 100%;
  margin: 7% 0 7% 0;
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  font-size: small;
  border-radius: 30px;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 15px 0 15px 0;
  margin: 50px auto 35px auto;
  display: flex;
  justify-content: center;
}

.menu button:hover {
  background: linear-gradient(#99E2D0, #FF79DA);
  box-shadow: 0px 6px 8px 1px rgba(0, 0, 0, 0.2);
}

.menu-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-title h1 {
  font-family: "Shrikhand", cursive;
  margin: 0 0 0 0;
  padding: 20px 10px 20px 0;
}

.menu-title i {
  position: relative;
  right: 10px;
}

.menu-section--wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-around;
}

.menu-section {
  opacity: 0;
  animation: titleappear 800ms ease-in-out 0s 1 forwards;
}

.menu-section--0 {
  animation-delay: 200ms;
}

.menu-section--1 {
  animation-delay: 950ms;
}

.menu-section--2 {
  animation-delay: 1700ms;
}

.menu-section h4 {
  font-weight: 300;
  margin: 12px 0 0 0;
  padding: 5px 0 5px 0;
}

.menu-section .borderbottom {
  border-bottom: 3px solid #99E2D0;
  position: absolute;
  right: 85%;
  left: 12px;
}

.menu-item {
  width: 100%;
  height: 20%;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 2px 6px 1px rgba(0, 0, 0, 0.2);
  padding: 0 0 0 10px;
  margin: 15px 0 0 0;
  display: flex;
  opacity: 0;
  overflow: hidden;
  animation: appear 1400ms ease-in-out 0s 1 forwards;
}

.menu-item--1 {
  animation-delay: 250ms;
}

.menu-item--2 {
  animation-delay: 500ms;
}

.menu-item--3 {
  animation-delay: 750ms;
}

.menu-item--4 {
  animation-delay: 1000ms;
}

.menu-item--5 {
  animation-delay: 1250ms;
}

.menu-item--6 {
  animation-delay: 1500ms;
}

.menu-item--7 {
  animation-delay: 1750ms;
}

.menu-item--8 {
  animation-delay: 2000ms;
}

.menu-item--9 {
  animation-delay: 2250ms;
}

.menu-item--10 {
  animation-delay: 2500ms;
}

.menu-item p {
  margin: 0 0 0 0;
  padding: 2px 0 2px 0;
  font-weight: 300;
}

.menu-item .item-name {
  font-weight: 600;
  font-size: large;
}

.menu-item .container-name {
  width: 83%;
  flex-direction: column;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 10px 0 10px 0;
}

.menu-item .container-name p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menu-item .container-price {
  width: 17%;
  margin: 0;
  padding: 10px 0 10px 0;
  display: flex;
  justify-content: center;
}

.menu-item .container-price .prix {
  padding: 20px 10px 0 10px;
  font-weight: 600;
}

.menu-item .checkmark {
  width: 0%;
  color: white;
  background-color: #99E2D0;
  visibility: hidden;
  border-radius: 0 15px 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: out 700ms;
}

.menu-item .checkmark i {
  margin: 0 20px 0 20px;
  animation: out__icon 700ms ease-in-out;
}

.menu-item:hover .checkmark {
  visibility: visible;
  animation: additem 700ms forwards 1 ease-in-out alternate;
}

.menu-item:hover i {
  animation: additem__icon 700ms forwards 1 ease-in-out alternate;
}

.hearts {
  display: flex;
}

.heartbase {
  position: relative;
  top: -40px;
  transition: opacity 400ms;
  z-index: 1;
}

.heartbase:hover {
  opacity: 0;
}

.heartbase__menu {
  position: relative;
  left: 16px;
  opacity: 1;
  z-index: 2;
  transition: opacity 500ms;
}

.heartbase__menu:hover {
  opacity: 0;
}

.heartbg {
  position: relative;
  top: -56px;
  color: #9356DC;
  opacity: 0;
  z-index: 2;
  transition: opacity 500ms;
}

.heartbg:hover {
  opacity: 1;
}

.heartbg__menu {
  position: relative;
  color: #9356DC;
  opacity: 0;
  z-index: 2;
  transition: opacity 500ms;
}

.heartbg__menu:hover {
  opacity: 1;
}

#overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 2;
  cursor: pointer;
  animation: hide 3s ease-in 0s 1 forwards;
}

.load {
  width: 400px;
  height: 300px;
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.load__bar {
  background-color: #99E2D0;
  height: 100%;
  width: 30px;
  border-radius: 50px;
  animation: bars 800ms backwards 5 ease-in-out alternate;
}

.load__bar--1 {
  animation-delay: 160ms;
}

.load__bar--2 {
  animation-delay: 320ms;
}

.load__bar--3 {
  animation-delay: 480ms;
}

.load__bar--4 {
  animation-delay: 640ms;
}

.load__bar--5 {
  animation-delay: 800ms;
}

@keyframes bars {
  0% {
    transform: scaleY(0.5);
  }

  100% {
    transform: scaleY(1);
    opacity: 0.3;
  }
}

@keyframes hide {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
    position: relative;
    top: 15px;
  }

  100% {
    opacity: 1;
    top: -15px;
  }
}

@keyframes titleappear {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes additem {
  0% {
    width: 0px;
    visibility: visible;
  }

  100% {
    width: 20%;
  }
}

@keyframes out {
  0% {
    position: relative;
    width: 20%;
    visibility: visible;
  }

  100% {
    width: 0%;
  }
}

@keyframes out__icon {
  0% {
    padding: 0;
  }

  50% {
    padding: 0 0 0 10px;
  }

  100% {
    padding: 0 0 0 10px;
  }
}

@keyframes additem__icon {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media all and (min-width: 768px) {
  .footer__txt {
    margin: 1% 5% 1% 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media all and (min-width: 992px) {
  .restaurants--wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .resto-card {
    width: 21%;
    margin: 10px;
  }

  #restaurants a {
    width: 100%;
    margin: 10px;
  }

  .steps--wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  #fonctionnement .steps {
    display: flex;
    align-items: center;
    width: 32%;
    background-color: rgb(246, 246, 246);
    margin: 0 0 22px 0;
    border-radius: 15px;
    padding: 10px 0 10px 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }

  .menu-item {
    height: 25%;
  }

  .menu-item .container-name {
    display: flex;
    justify-content: center;
  }

  .menu-section {
    width: 30%;
    margin: 0 0 4% 0;
  }

  .menu-section .borderbottom {
    position: relative;
    right: 0;
    left: 0;
  }

  .menu-section--wrapper {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
  }

  .menu-title h1 {
    padding: 2% 1.5% 1.5% 1.5%;
  }

  .btn--wrapper {
    margin: 10% 0 2% 0;
  }

  .btn--wrapper .btn {
    height: 100%;
  }
}

/*# sourceMappingURL=styles.css.map */