$color1: #9356DC; 
$color2: #FF79DA;
$color3: #99E2D0;
$footercolor: rgb(53,53,53);
$bgcolor1: rgb(246,246,246);
$bgcolor2: rgb(234,234,234);

* {
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	max-width: 100%;
    // padding-left: 2px;
    // padding-right: 2px;
}



header {
    
    // margin: 0 0 0 0;
    padding: 3px 0 2px 0;
    // box-shadow:  0 79px 241px 72px rgba(0,0,0,0.66);
    

    #header-logo {
        width: 40%;
        margin: 9px auto 7px auto;
        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    }

    #header-logo-menu {
        width: 40%;
        margin: 9px auto 7px auto;
    }
}

#location {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $bgcolor2;
    box-shadow: 0px 11px 6px -9px rgba(0,0,0,0.27) inset;
    i {
        padding-right: 15px;
    }

    p {
        font-weight: 400;
        font-size: small;
    }
}

button {
    width: 50%;
    background: linear-gradient($color2, $color1);
    color: white;
    font-size: smaller;
    border-radius: 30px;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding: 13px 0 15px 0;
    margin: 5px 0px 35px 0px;

    &:hover {
        background: linear-gradient($color3, $color2);
        box-shadow: 0px 9px 6px 0px rgba(0,0,0,0.2);
    }
}

#main-header {
    background-color: $bgcolor1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align:center;
    
    h2 {
        margin-top: 0px;
        padding: 35px 50px 0px 50px;
        font-weight: 700;
    }

    p {
        margin-top: 0px;
        padding: 0px 20px 0 20px;
        font-weight: 100;
    }

} 
            
#fonctionnement {
    margin: 40px 15px 40px 25px; 

    .steps {
        display: flex;
        align-items: center;
        background-color: $bgcolor1;
        margin: 0 0 22px 0;
        border-radius: 15px;
        padding: 10px 0 10px 0;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

        &:hover {
            background-color: $bgcolor2;
            i {
                color: $color1;
            }
        }

        .number {
            border-radius: 50px;
            font-size: smaller;
            padding: 4px 7px 3px 7px;
            color: white;
            background-color: $color1;
            position: relative;
            right: 10px;
            font-weight: 400;
        }

        i {
            margin: 15px 15px 15px 10px;
            color: grey;
        }

        p {
            font-weight: bold;
        }

    

    }
}

#restaurants {
    padding: 40px 2px 40px 2px;
    background-color: $bgcolor1;

    h2 {
        padding-left: 13px;
    }

    a { 
        text-decoration: none; 
        color : black;
        margin: 0;
        display: flex;
        justify-content: center;
    }    

    .resto-card {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        width: 100%;
        height: 240px;
        border-radius: 25px;
        background-color: white;
        margin: 2%;

        .card-img-div {
            width: 100%;
            height: 70%;
            .card-img {
                width: 100%;
		        height: 100%;
		        object-fit: cover;
		        border-radius: 25px 25px 0px 0px;
            }
        }
        
        .textcontainer {
            width: 100%;
	        height: 40%;
	        line-height: 40%;
	        padding: 5px 0 0 15px;
            i {
                position: relative;
                left: 87%;
                bottom: 43%;
            }
        }

    }


}

footer {
    background-color: $footercolor;
    color: white;
    padding: 0 0 30px 20px;
    
    #logosmall {
        width: 125px;
        margin: 25px 0 0 0;
    }

    .footerdiv {
        display: flex;
        align-items: baseline;
        
        i {
            padding: 0 10px 0 0;
        }
        
    }

    p {
        margin: 10px 0 0 0px;
        font-size: medium;
    }

    a {
        text-decoration: none;
        color: white;
    }
}

#menu-main {
    background-color: $bgcolor1;
}

.menu-img {
    height: 300px;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
}

.menu-header {
    display: flex;
    i {
        color: black;
        position: absolute;
        left: 20px;
        top: 18px;
    }
}

.menu {
    background-color: $bgcolor1;
    border-radius: 25px 25px 0 0;
    padding: 0 12px 10px 12px;
    margin: 0 0 0 0;
    position: relative;
    bottom: 30px;
    button {
        width: 50%;
        background: linear-gradient($color2, $color1);
        color: white;
        font-size: small;
        border-radius: 30px;
        border: none;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        padding: 15px 0 15px 0;
        margin: 50px auto 35px auto;
        display: flex;
        justify-content: center;
        &:hover {
            background: linear-gradient($color3, $color2);
            box-shadow: 0px 6px 8px 1px rgba(0,0,0,0.2);
        }
    }
    
}

.menu-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    h1 {
        font-family: 'Shrikhand', cursive;
        margin: 0 0 0 0;
        padding: 20px 10px 20px 0; 
    }
    i {
        position: relative;
        right: 10px;
    }
}

.menu-section {
    opacity: 0;
    animation: titleappear 800ms ease-in-out 0s 1 forwards;
    @for $i from 0 through 2 {
        &--#{$i} {
            animation-delay: 200ms + 750ms * $i ;
         }
    }
    h4 {
        font-weight: 300;
        margin: 12px 0 0 0;
        padding: 5px 0 5px 0;
    }
    #borderbottom {
        border-bottom: 3px solid $color3;
        position: absolute;
        right: 85%;
        left: 12px;
    }
}

.menu-item {
    width: 100%;
    height: 20%;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 2px 6px 1px rgba(0,0,0,0.2);
    padding: 0 0 0 10px;
    margin: 15px 0 0 0;
    display: flex;
    opacity: 0;
    animation: appear 1400ms ease-in-out 0s 1 forwards;
    @for $i from 1 through 10 {
        &--#{$i} {
            animation-delay: 250ms * $i;
         }
    }
    

    p {
        margin: 0 0 0 0;
        padding: 2px 0 2px 0;
        font-weight: 300;
    }
    .item-name {
        font-weight: 600;
        font-size: large;
    }

    .container-name {
        width: 83%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 10px 0 10px 0;
        p {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    .container-price {
        width: 17%;
        margin: 0;
        padding: 10px 0 10px 0;
        .prix {
            padding: 20px 10px 0 10px;
            font-weight: 600;
        }
    }
    .checkmark {
        height: 67.1 px;
        width: 0%;
        color: white;
        background-color: $color3;
        overflow: hidden;
        visibility: hidden;
        border-radius: 0 15px 15px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        // i {
        //     // position: relative;
        //     // top: 24px;
        // }
    }
    &:hover {
        .checkmark {
            visibility: visible;
            animation: additem 1000ms forwards 1 ease-in-out alternate;
        }
        i {
            animation: additem__icon 1000ms forwards 1 ease-in-out alternate;
        }
    }
        

}



.heartbase {
    position: relative;
    top: -40px;
    transition: opacity 400ms;
    z-index: 1;
    &:hover {
        opacity: 0;
    }
}

.heartbg {
    position: relative;
    top: -56px;
    color: $color1;
    opacity: 0;
    z-index: 2;
    transition: opacity 500ms;
    &:hover {
        opacity: 1; 
    }
}

// Loading spinner

$size: 20px;
$num-bars: 5;
$anim-dur: 800ms;
$anim-delay: calc($anim-dur / $num-bars);

#overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.7);
    z-index: 2;
    cursor: pointer;
    animation: hide 3s ease-in 0s 1 forwards;
  }

.load {
    width: $size*20;
    height: $size*15;
    display: flex;
    justify-content: space-evenly;
    position:absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    &__bar {
        background-color: $color3;
        height: 100%;
        width: $size*1.5;
        border-radius: 50px;
        animation: bars $anim-dur backwards 5 ease-in-out alternate;
        @for $i from 1 through $num-bars {
            &--#{$i} {
                animation-delay: $anim-delay * $i;
             }
        }
    }
}

@keyframes bars {
    0% {
        transform: scaleY(0.5);
    }
    100% {
        transform: scaleY(1.0);
        opacity: 0.3;
    }
}

@keyframes hide {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

// Apparition progressive menu

@keyframes appear {
    0% {
        opacity: 0;
        position: relative;
        top: 15px;
    }
    100% {
        opacity: 1;
        top: -15px;
    }
}

@keyframes titleappear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


// checkmark menu

@keyframes additem {
    0% {
        width: 0px;
        position: relative;
    }
    100% {
        width: 15%;
        left: 0px;
    }
}

@keyframes additem__icon {
    0% {
        transform: rotate(600deg);
        
    }
    100% {
        transform: rotate (0deg);
    }
}